@media screen and (max-width: 600px) {
    #faq {
        height: fit-content;
    }

    .qescon {
        width: 74%;
        display: flex;
        padding: 2rem 0rem;
        flex-direction: column;
        gap: 1.5rem;
    }

    .qescon p:nth-child(1) {
        font-weight: 600;
        font-size: var(--sub_sm) !important;
        color: rgb(46, 46, 46);
        padding-bottom: 0.6rem;
        line-height: 1.3rem;
        text-align: justify;
    }

    .qescon p:nth-child(2) {
        font-size: 15px !important;
        line-height: 1.5rem;
        text-align: justify;
        color: rgb(116, 115, 115);
    }




    .bannerdiv {
        background: rgb(255, 67, 67);
        background: linear-gradient(90deg, rgba(255, 67, 67, 1) 0%, rgba(243, 182, 54, 1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .bannerdiv p:nth-child(1) {
        color: white;
        font-weight: 700;
        text-align: center;
        font-size: 17px !important;
        padding-bottom: 1rem;
    }

    .bannerdiv p:nth-child(2) {
        color: white;
        /* border: red solid; */
        width: 80%;
        text-align: center;
        font-size: 15px !important;
        padding-bottom: 2rem;
    }

    .bannerdiv button {
        padding: 0.8rem 1.4rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 12px;
        margin-bottom: 2rem;
        color: rgb(47, 47, 47);
        font-weight: 600;
    }
}